*{box-sizing: border-box;
margin: 0;
padding: 0;}

body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    padding-bottom: 50px;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
    justify-content: space-between;
    height: 20px;
}

.nav{
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    color: aliceblue;
}

.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

.nav a:hover{
    background-color:  #222;
    color: red;
}

.nav h1{
    font-size: 30px;
}

.nav.active{
    background-color: aliceblue;
    color: #222;
}

.nav.active a{
    color: #222;
}

.nav.active a:hover{
    background-color: aliceblue;
    color: rgb(226, 38, 38);
}


.hero{
    background-image: url(https://images.unsplash.com/photo-1506241537529-eefea1fbe44d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: aliceblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;

}

.hero::before{
    content: "";
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.hero h1{
    font-size: 40px;
    margin: -20px 0 20px;
}



.hero p{
    font-size: 25px;
    letter-spacing: 1px;
}



.content h2{
    font-size: 150%;
    margin: 10px 0;
}

.content p{
    color: gray;
    line-height: 30px;
    letter-spacing: 1.2px;
}